.App {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --background-datePicker: #ffffff;
  --hover-datePicker: #f1f1f1;
  --today-dataPicker: #ff7b7b;
  --alert-datePicker: #4ac8e7;
}

body {
  margin: 5px;
}

.date-picker {
  width: inherit;
  height: inherit;
  min-height: 26rem;
  min-width: 22rem;
  max-width: 45rem;
  background-color: var(--background-datePicker);
}

.date-picker--header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.2rem;
  padding-bottom: 12px;
}

.date-picker--header span {
  cursor: pointer;
  border: solid 1px var(--background-datePicker);
}

.date-picker--header span:hover {
  border: solid 1px var(--hover-datePicker);
}

.calendar {
  width: 100%;
  height: 100%;
  max-width: 45rem;
  min-height: 26.5rem;
  overflow: hidden;
}

.calendar--container {
  height: inherit;
}

.calendar__buttons {
  display: flex;
  gap: 22px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.calendar__month--name {
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
}

.calendar__month--name p {
  margin: 8px;
  min-width: 160px;
}

.calendar__buttons button {
  cursor: pointer;
  background: none;
  border: solid 2px #111;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  transition: background-color 0.3s ease;
}

.calendar__buttons button:hover {
  background-color: var(--hover-datePicker);
}

.calendar__buttons button div {
  display: flex;
  align-items: center;
}

.calendar__buttons--left {
  transform: rotate(180deg);
}

.calendar__month--container {
  height: inherit;
}

.calendar__month__days {
  height: inherit;
}

.calendar__month__days ol {
  margin: 0;
  padding: 0;
}

.calendar__month__days ol li {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.calendar__month__days--name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1rem;
  height: 2rem;
}

.calendar__month__days--number {
  display: grid;
  height: 70%;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__month__days--number button {
  background: none;
  border: none;
  transition: background-color 0.3s ease;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__month__days--number button:hover {
  background-color: var(--hover-datePicker);
  cursor: pointer;
}

.calendar__month__days--number button div {
  font-size: 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  padding: 0.5rem;
  margin: 2px 0;
  border-radius: 50%;
  transition: background-color 0.3s cubic-bezier(0.43, 0.01, 1, 0.72);
}

.calendar__month__days--number button div.today {
  background-color: var(--today-dataPicker);
  color: var(--hover-datePicker);
}
