.calendar {
  width: 90%;
  max-width: 120rem;
  background-color: lightblue;
}

.calendar--container {
  width: 1200%;
  background-color: orange;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}

.calendar__month--container {
  width: calc(100% / 12);
  background-color: aquamarine;
}

.calendar__month__days ol {
  margin: 0;
  padding: 0;
}
.calendar__month__days ol li {
  list-style: none;
}

.calendar__month--name {
  text-align: center;
}

.calendar__month__days--name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 700;
  text-align: center;
}

.calendar__month__days--number {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar__month__days--number li:hover {
  background-color: brown;
}
