.CalendarDesktop {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --background-datePicker: #ffffff;
  --hover-datePicker: #f1f1f1;
  --today-dataPicker: #ff7b7b;
  --alert-datePicker: #4ac8e7;
}

body {
  margin: 5px;
}

.App {
  display: flex;
}
